.btn {
    width: 35%;
    height: 40px;

    font-weight: bold;

    border: none;
    border-radius: 5px;
    background-color: white;

    cursor: pointer;
    transition: .2s;

    &:not(:disabled):hover {
        background-color: rgb(244, 250, 255);
    }

    &:not(:disabled):active {
        transform: translateY(2px);
    }

    &:disabled {
        cursor: inherit;
    }
}