.countboard {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 85%;
    height: 50%;

    font-size: 3em;
    font-weight: bold;

    background-color: white;
    border-radius: 10px;

    &.limit {
        color: red;
    }
}

.error_massage {
    font-size: 1.4em;
    color: red;
}

.warning_message {
    font-size: 1.1em;
}