.settings {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-250px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 500px;

    padding: 10px 15px;

    background-color: rgb(142, 201, 250);
}

.btn_settings {
    width: 70px;
    height: 30px;
    margin-left: 30px;
}